@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap");
html {
  scroll-behavior: smooth; }

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, Helvetica, sans-serif;
  line-height: 1.6; }

::selection {
  color: #ffffff;
  background: #2ecc71; }

a {
  color: inherit;
  text-decoration: none; }

* {
  box-sizing: border-box; }

.page__wrapper {
  max-width: 1169px;
  margin: auto; }

@media screen and (max-width: 40.375em) {
  .page__wrapper {
    max-width: 100%;
    margin: 1.5rem; } }

.show {
  display: block; }

.hide {
  display: none; }

.back__to__top {
  position: fixed;
  bottom: 1rem;
  right: 1rem; }
  .back__to__top a .scroltop {
    border: 0;
    margin: 0;
    outline: none;
    color: #ffffff;
    padding: 1rem;
    box-shadow: -4px 4px 12px -5px #242874 !important;
    background: #242874;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    z-index: 999;
    line-height: 0; }

.back__to__whatsapp {
  position: fixed;
  bottom: 1rem;
  left: 1rem; }
  .back__to__whatsapp a .scroltop {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    border: 0;
    outline: none;
    color: #ffffff;
    box-shadow: -4px 4px 12px -5px #2ecc71 !important;
    background: #2ecc71;
    padding: 1rem;
    line-height: 0;
    z-index: 999; }
    .back__to__whatsapp a .scroltop i {
      transform: scale(2); }

.modal__dialog {
  border-radius: 10px;
  padding: 2rem;
  background: #ffffff;
  position: fixed;
  z-index: 999;
  height: 80%;
  width: 80%;
  overflow-y: scroll;
  overflow-x: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  .modal__dialog .contact__us__container {
    margin-top: 0; }
  .modal__dialog .close__btn {
    height: 50px;
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    border: 0;
    outline: none;
    color: #ffffff;
    background: #ff586e;
    padding: 1rem;
    line-height: 0;
    z-index: 999; }
  .modal__dialog > .page__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end; }

.modal__overlay {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: 999;
  position: fixed; }

.modal__overlay__on__mobile {
  top: 73px;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  z-index: 999;
  position: fixed; }

@media screen and (max-width: 40.375em) {
  .modal__dialog {
    padding: 0rem;
    background: #ffffff;
    position: fixed;
    z-index: 999;
    height: 95%;
    width: 95%; } }

@keyframes upFromDown {
  49% {
    transform: translateY(100%); }
  50% {
    opacity: 0;
    transform: translateY(-100%); }
  51% {
    opacity: 1; } }

.bg__transparent {
  background: transparent;
  width: 100%;
  transition: all 0.5s;
  position: fixed;
  z-index: 100;
  color: #242874; }

.bg__white {
  width: 100%;
  top: 0;
  z-index: 100;
  position: fixed;
  background: #ffffff;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
  color: #242874; }

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 85px;
  transition: all 0.8s; }
  .nav .logo > a,
  .nav .logo > a:hover {
    font-weight: 900;
    font-size: 1.7rem; }

.nav__menu {
  transition: all 0.5s;
  height: 100%;
  list-style-type: none;
  font-weight: 600;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 1rem; }

.has__sub__menu {
  position: relative; }
  .has__sub__menu :hover {
    color: #1e90ff; }
    .has__sub__menu :hover > a > span {
      animation: upFromDown 0.5s; }
  .has__sub__menu a i {
    transform: scale(0.7); }

.has__sub__menu:hover > .sub__menu {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transform: translateY(0); }

.has__sub__menu > a > span {
  margin-right: 2px; }

.sub__menu {
  list-style-type: none;
  position: absolute;
  background: white;
  width: max-content;
  box-shadow: 0px 1px 40px 0px rgba(0, 0, 0, 0.1);
  display: block;
  padding: 5px 0px;
  left: 0;
  top: 120%;
  transform: translateY(30px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  z-index: 10; }

.sub__menu > li {
  position: relative; }

.sub__menu > li > a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #242874;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 25px;
  position: relative;
  transition: all 0.5s; }

.sub__menu > li > a::after {
  content: "";
  background-color: #1e90ff;
  position: absolute;
  height: 1px;
  width: 0;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s; }

.sub__menu > li:hover > a {
  color: #1e90ff;
  padding: 10px 20px 10px 35px;
  background-color: #f2f2f2; }

.sub__menu > li:hover > a:after {
  width: 10px; }

.nav__cta {
  border: 2px solid #1e90ff;
  background: #1e90ff;
  padding: 10px 32px;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.5s;
  width: max-content; }
  .nav__cta i {
    transform: scale(0.7); }

.nav__cta:hover {
  transition: all 0.5s;
  border: 2px solid #1e90ff;
  color: #1e90ff;
  background-color: #ffffff; }

.nav__cta span {
  margin-left: 5px; }

.hamburger {
  display: none; }

.close__nav__btn {
  display: none; }

@media screen and (max-width: 40.375em) {
  .nav {
    height: 25px; }
    .nav .logo > a,
    .nav .logo > a:hover {
      font-size: 1.4rem; }
  .hamburger {
    display: block;
    background: transparent;
    color: #242874;
    outline: none;
    border: 0;
    transform: scale(1.2); }
  .nav__menu {
    padding-left: 0;
    background: #ffffff;
    position: fixed;
    top: 73px;
    left: -100%;
    height: 100vh;
    width: 80%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;
    padding: 50px 2rem;
    transition: all 0.5s; }
    .nav__menu .nav__item {
      display: block;
      width: 100%;
      padding: 5px 1rem;
      border-bottom: 1px solid #1e90ff;
      margin-top: 10px;
      margin-bottom: 2px; }
    .nav__menu .has__sub__menu a {
      display: flex;
      justify-content: space-between; }
    .nav__menu .nav__close__btn {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      margin-bottom: 2rem; }
      .nav__menu .nav__close__btn .close__nav__btn {
        display: block;
        height: 50px;
        width: 50px;
        border-radius: 10px;
        cursor: pointer;
        border: 0;
        outline: none;
        color: #ffffff;
        background: #ff586e;
        padding: 1rem;
        line-height: 0;
        z-index: 999; }
  .show_nav_menu {
    left: 0; } }

.header__container {
  position: relative;
  background-image: url("../public/images/bnr1.jpg");
  height: 450px;
  background-size: cover;
  background-position: 50%;
  position: relative;
  overflow: hidden; }

.header__container::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #1e90ff;
  opacity: 0.7; }

.h1 {
  color: #ffffff;
  font-size: 3.5rem;
  font-weight: 900;
  text-transform: capitalize;
  z-index: 11;
  font-family: "Source Sans Pro", "Courier New", Courier, monospace; }

.z__index__top {
  position: absolute;
  z-index: 99;
  top: 40%;
  color: #ffffff; }

.breadcrums {
  margin-top: 20px; }

.breadcrums span {
  margin-right: 5px;
  text-transform: capitalize;
  font-weight: 600; }

@media screen and (max-width: 40.375em) {
  .header__container {
    height: 350px; }
    .header__container h1 {
      font-size: 2rem; } }

.head__section__container {
  position: relative;
  overflow: hidden;
  height: 800px; }
  .head__section__container .pic2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 750px;
    width: 100%;
    z-index: -98; }
  .head__section__container .pic3 {
    position: absolute;
    top: 10%;
    left: 0;
    height: 300px;
    z-index: -98; }
  .head__section__container .pic4 {
    position: absolute;
    top: 15%;
    right: 0;
    height: 300px;
    z-index: -98; }
  .head__section__container > .page__wrapper {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101; }
    .head__section__container > .page__wrapper .row {
      width: 100%;
      text-align: left;
      color: #242874; }
      .head__section__container > .page__wrapper .row .column-1 {
        padding-left: 0; }
        .head__section__container > .page__wrapper .row .column-1 .slogan__1 {
          font-size: 1.1rem; }
        .head__section__container > .page__wrapper .row .column-1 > span {
          color: #1e90ff;
          text-transform: uppercase;
          font-weight: 600;
          font-family: "Source Sans Pro", sans-serif;
          letter-spacing: 1.5px; }
        .head__section__container > .page__wrapper .row .column-1 .slogan__1__p {
          font-size: 1rem;
          padding-right: 4rem; }
        .head__section__container > .page__wrapper .row .column-1 .custom__class {
          width: max-content; }
      .head__section__container > .page__wrapper .row .column-2 {
        position: relative; }
        .head__section__container > .page__wrapper .row .column-2 .pic5,
        .head__section__container > .page__wrapper .row .column-2 .pic6 {
          position: absolute; }
        .head__section__container > .page__wrapper .row .column-2 .pic6 {
          top: -70px;
          left: -70px; }
          .head__section__container > .page__wrapper .row .column-2 .pic6 img {
            height: 500px;
            width: 600px; }
        .head__section__container > .page__wrapper .row .column-2 .pic5 {
          top: -70px;
          left: -30px; }
          .head__section__container > .page__wrapper .row .column-2 .pic5 img {
            height: 500px;
            width: 580px; }
      .head__section__container > .page__wrapper .row h1 {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
        font-size: 60px;
        text-transform: uppercase;
        margin: 0.5rem 0; }
        .head__section__container > .page__wrapper .row h1 > span {
          color: #1e90ff; }

@media screen and (max-width: 40.375em) {
  .head__section__container {
    height: 900px; }
    .head__section__container > .page__wrapper {
      height: 80%; }
      .head__section__container > .page__wrapper .row .column-1 .slogan__1 {
        font-size: 1rem; }
      .head__section__container > .page__wrapper .row .column-1 .slogan__1__p {
        padding-right: 0;
        font-size: 15.5px; }
      .head__section__container > .page__wrapper .row .column-1 .custom__class {
        width: max-content;
        padding: 10px 20px; }
      .head__section__container > .page__wrapper .row .column-1 h1 {
        font-size: 1.9rem; }
      .head__section__container > .page__wrapper .row .column-2 {
        margin-top: 3rem; }
        .head__section__container > .page__wrapper .row .column-2 .pic6 {
          top: 0px;
          left: 10px; }
          .head__section__container > .page__wrapper .row .column-2 .pic6 img {
            height: 280px;
            width: 300px; }
        .head__section__container > .page__wrapper .row .column-2 .pic5 {
          top: 0px;
          left: 10px; }
          .head__section__container > .page__wrapper .row .column-2 .pic5 img {
            height: 280px;
            width: 380px; } }

.awesome__service__container .page__wrapper {
  display: flex;
  flex-direction: column; }
  .awesome__service__container .page__wrapper .section-head {
    margin-bottom: 40px; }
    .awesome__service__container .page__wrapper .section-head .service__name {
      background-color: rgba(137, 110, 255, 0.1);
      color: #1e90ff;
      width: max-content;
      padding: 0.5rem 1.3rem;
      margin: 1.2rem auto; }
    .awesome__service__container .page__wrapper .section-head h1 {
      font-family: "Source Sans Pro", sans-serif;
      color: #242874;
      font-weight: 700;
      margin-bottom: 1.1rem;
      text-transform: uppercase; }
  .awesome__service__container .page__wrapper .text-center {
    text-align: center !important; }
  .awesome__service__container .page__wrapper .row {
    z-index: 99;
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }

.shadow-yellow {
  box-shadow: 0 2px 15px rgba(255, 168, 8, 0.5); }

.content {
  font-size: 1rem; }

.service__title {
  color: #242874;
  font-size: 1.2rem; }

.icon-bx-wraper.style-4 .big__box {
  width: 100px;
  height: 100px;
  line-height: 100px; }

.icon-bx-wraper.style-4 .icon-bx-sm .big__icon {
  font-size: 55px; }

@media screen and (max-width: 40.375em) {
  .awesome__service__container {
    height: 100%; }
    .awesome__service__container .on__sm__mb__20 {
      padding-left: 0;
      padding-right: 0; } }

.card__container {
  margin-top: 4rem;
  position: relative;
  background-image: url("../public/images/bg_5.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding: 5rem 0;
  width: 100%;
  overflow-x: hidden;
  padding: 5rem 0; }
  .card__container .cards {
    cursor: pointer; }

.icon-bx-wrapper {
  position: relative; }

.icon-bx-wraper.style-4 {
  background-color: #fff;
  border-radius: 10px;
  padding: 30px;
  transition: all 0.5s; }

.icon-bx-wraper.style-4:hover {
  box-shadow: 0 0 10px 4px rgba(31, 66, 135, 0.1); }

.icon-bx-wraper .style-4 .icon-bx-sm {
  width: 70px;
  height: 70px;
  line-height: 70px; }

.m-b20 {
  margin-bottom: 20px; }

.icon-bx-sm.radius {
  border-radius: 100%; }

.icon-bx-wraper.style-4 .icon-bx-sm i {
  font-size: 35px; }

.icon-bx-sm {
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  width: 80px;
  height: 80px;
  line-height: 80px; }

.bg-green {
  background-color: #2ecc71; }

.bg-blue {
  background-color: #5543d1; }

.bg-orange {
  background-color: #ffa808; }

.bg-red {
  background-color: #ff586e; }

a {
  background-color: transparent; }

[class*="icon-bx-"][class*="bg-"] a {
  color: #fff; }

.icon-content {
  overflow: hidden; }

.icon-bx-wraper.style-4 .title {
  font-size: 20px;
  color: #262f5a;
  font-weight: 500;
  margin-top: 1rem; }

.on__sm__mb__20 {
  margin-bottom: 0px;
  transition: all 0.5s; }

.on__sm__mb__20:hover {
  transform: translateY(-20px);
  transition: all 0.5s; }

@media screen and (max-width: 40.375em) {
  .card__container {
    background-image: url("../public/images/bg_5_90deg.jpg"); }
  .on__sm__mb__20 {
    margin-bottom: 30px; }
  .on__sm__mb__20:hover {
    transform: translateY(-10px);
    transition: all 0.5s; } }

.how__we__can__help__container {
  width: 100%; }
  .how__we__can__help__container .page__wrapper .row .column-1 img {
    height: 580px;
    width: 550px; }
  .how__we__can__help__container .page__wrapper .row .column-2 .about__us {
    background-color: rgba(137, 110, 255, 0.1);
    color: #1e90ff;
    width: max-content;
    padding: 0.5rem 1.3rem;
    margin: 1.2rem 0; }
  .how__we__can__help__container .page__wrapper .row .column-2 h1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #242874;
    font-weight: 700;
    margin-bottom: 1.1rem;
    text-transform: uppercase; }
  .how__we__can__help__container .page__wrapper .row .column-2 p {
    color: #242874; }
  .how__we__can__help__container .page__wrapper .row .column-2 .ceo {
    text-transform: uppercase;
    margin-bottom: 2rem; }

@media screen and (max-width: 40.375em) {
  .how__we__can__help__container .page__wrapper .row .column-1 img {
    height: 350px;
    width: 310px; }
  .how__we__can__help__container .page__wrapper .about__us__row {
    flex-direction: column-reverse; } }

.help__process {
  margin-top: 5rem; }

.our__latest__project {
  margin-top: 7rem; }
  .our__latest__project .page__wrapper {
    z-index: 1000; }
    .our__latest__project .page__wrapper .row {
      margin-top: 3rem;
      z-index: 99; }
      .our__latest__project .page__wrapper .row > div {
        margin-top: 1rem; }
        .our__latest__project .page__wrapper .row > div img {
          height: 100%;
          width: 100%; }
      .our__latest__project .page__wrapper .row .on__sm__mb__20:hover {
        transform: translateY(0px);
        transition: all 0.5s; }
    .our__latest__project .page__wrapper .site-filters.style-1 {
      background-color: rgba(137, 110, 255, 0.1);
      border-radius: 50px;
      padding: 10px; }
    .our__latest__project .page__wrapper .clearfix::after {
      display: block;
      clear: both;
      content: ""; }
    .our__latest__project .page__wrapper .site-filters.center {
      text-align: center; }
    .our__latest__project .page__wrapper .site-filters {
      margin-bottom: 30px; }
    .our__latest__project .page__wrapper .site-filters.style-1 .filters {
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap; }
    .our__latest__project .page__wrapper .site-filters.center ul {
      display: inline-block;
      margin: auto; }
    .our__latest__project .page__wrapper .site-filters ul {
      margin: 0;
      list-style: none; }
    .our__latest__project .page__wrapper ul {
      padding: 0;
      margin: 0; }
    .our__latest__project .page__wrapper .site-filters.center [class*="btn"] {
      display: inline-block;
      margin: 0 25px;
      text-transform: uppercase; }
    .our__latest__project .page__wrapper .site-filters li.btn {
      box-shadow: none;
      -webkit-box-shadow: none;
      outline: none !important; }
    .our__latest__project .page__wrapper .btn {
      padding: 0.6rem 1rem;
      display: inline-block;
      border-radius: 100px;
      font-size: 15px;
      font-weight: 500; }
    .our__latest__project .page__wrapper .btn.active {
      background-color: #1e90ff;
      color: #ffffff; }

@media screen and (max-width: 40.375em) {
  .our__latest__project .page__wrapper {
    z-index: 1000; }
    .our__latest__project .page__wrapper .cards {
      margin-left: 0px;
      margin-right: 0px; }
      .our__latest__project .page__wrapper .cards .on__sm__mb__20 {
        padding-left: 0;
        padding-right: 0; } }

.testimonials__container {
  background-image: url("../public/images/bg_5_testimonials.jpg"); }
  .testimonials__container .page__wrapper .row > div .testimonial__div {
    margin-top: 2rem;
    background-color: #fff;
    padding: 30px; }
    .testimonials__container .page__wrapper .row > div .testimonial__div .testimonial-text {
      border-bottom: 1px solid #e1e1f0;
      padding: 0 0 20px;
      margin-bottom: 20px; }
    .testimonials__container .page__wrapper .row > div .testimonial__div .testimonial-detail {
      display: flex;
      padding: 0;
      flex-direction: row;
      align-items: center;
      justify-content: center; }
    .testimonials__container .page__wrapper .row > div .testimonial__div .testimonial-pic {
      border-radius: 50%;
      height: 100px;
      width: 100px;
      border: 3px solid #896eff;
      overflow: hidden;
      margin-right: 15px;
      background: #fff;
      position: relative;
      display: inline-block; }
      .testimonials__container .page__wrapper .row > div .testimonial__div .testimonial-pic img {
        height: 100px;
        width: 100px; }
  .testimonials__container .page__wrapper .row > div .testimonials {
    background-color: rgba(137, 110, 255, 0.1);
    color: #1e90ff;
    width: max-content;
    padding: 0.5rem 1.3rem;
    margin: 1.2rem 0; }
  .testimonials__container .page__wrapper .row > div h1 {
    font-family: "Source Sans Pro", sans-serif;
    color: #242874;
    font-weight: 700;
    margin-bottom: 1.1rem;
    text-transform: uppercase; }
  .testimonials__container .page__wrapper .row > div p {
    color: #242874; }

@media screen and (max-width: 40.375em) {
  .testimonials__container {
    background-image: url("../public/images/bg_5_testimonials.jpg"); }
    .testimonials__container .page__wrapper .row {
      flex-direction: column-reverse; } }

.contact__us__container .page__wrapper .flash__message__green {
  right: 3%;
  position: fixed;
  z-index: 2000;
  top: 20%;
  border-radius: 10px;
  background-color: #c6f6d5;
  color: #276749;
  max-width: max-content;
  padding: 1rem 1rem; }
  .contact__us__container .page__wrapper .flash__message__green button {
    margin-left: 1rem;
    background-color: transparent;
    border: 0;
    outline: none;
    color: #ff586e; }

.contact__us__container .page__wrapper .row .column-1 img {
  height: 500px; }

.input-group {
  margin-bottom: 20px; }

.input-group-prepend {
  position: absolute;
  left: 10px;
  top: 22.5px;
  z-index: 99;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: transparent;
  border-right: 1px solid #1f2471;
  margin-right: 10px; }

.input-group-append,
.input-group-prepend {
  display: flex; }

.input-group-prepend .input-group-text {
  justify-content: center;
  padding: 0;
  width: 40px;
  height: 20px;
  background-color: transparent; }

.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  border: 0;
  outline: none; }

.input-group-prepend .input-group-text {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }

.input-group-prepend .input-group-text i {
  color: #1f2471;
  font-size: 18px;
  border: 0;
  outline: none; }

.input-group-prepend + .form-control,
.input-group-prepend + .form-control + .bootstrap-select,
.input-group-prepend + .form-control + .custom-file-label {
  padding: 10px 20px 10px 65px; }

.form-control::placeholder {
  color: #888; }

.form-control {
  box-shadow: 0 0 5px 2px rgba(31, 66, 135, 0.1);
  height: 45px;
  border-radius: 10px !important;
  padding: 10px 20px;
  position: relative;
  font-size: 15px;
  outline: none;
  border: 0; }

select {
  word-wrap: normal; }

button,
select {
  text-transform: none; }

textarea {
  height: 200px !important;
  resize: none; }

iframe {
  margin: 0; }

@media screen and (max-width: 40.375em) {
  .contact__us__container .page__wrapper .flash__message__green {
    left: 1rem;
    right: 1rem; }
  .contact__us__container .page__wrapper .row .column-1 img {
    height: 300px; } }

.make__website__container {
  position: relative;
  background-image: url("../public/images/bg_5.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding: 5rem 0;
  width: 100%;
  margin-top: 5rem; }

.side__text h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: #242874;
  font-weight: 700;
  margin-bottom: 1.1rem;
  text-transform: uppercase; }

.make__website__cta {
  width: max-content;
  border: 2px solid #1e90ff;
  background: transparent;
  padding: 10px 32px;
  border-radius: 10px;
  color: #1e90ff;
  cursor: pointer;
  transition: all 0.5s; }
  .make__website__cta:hover {
    transition: all 0.5s;
    border: 2px solid #1e90ff;
    color: #ffffff;
    background-color: #1e90ff; }
  .make__website__cta i {
    transform: scale(0.7); }
  .make__website__cta span {
    margin-left: 5px; }
  .make__website__cta .fa-phone {
    transform: scale(1.16);
    margin-right: 5px; }

@media screen and (max-width: 40.375em) {
  .side__text {
    margin-bottom: 2rem; } }

.head__feature .row .column-1 {
  padding-left: 0; }
  .head__feature .row .column-1 .slogan__1 {
    font-size: 1.1rem; }
  .head__feature .row .column-1 .red {
    color: #ff586e;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Source Sans Pro", sans-serif;
    letter-spacing: 1.5px; }

.footer__container {
  position: relative;
  background-image: url("../public/images/bg-footer.png");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  background-color: #1e90ff;
  color: #ffffff;
  padding: 5rem 0;
  font-size: 16px;
  width: 100%; }

.logo__footer > a,
.logo__footer a > :hover {
  font-weight: 900;
  font-size: 1.7rem;
  color: #ffffff;
  text-transform: capitalize; }

.bar {
  border-top: 1px solid #ffffff;
  margin: 2rem 0; }

.d__flex {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  .d__flex i {
    transform: scale(3);
    margin-right: 1.5rem; }

.column h2 {
  font-family: "Source Sans Pro", "Courier New", Courier, monospace;
  font-size: 1.5rem;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 2rem;
  font-weight: 600; }

.column ul,
.column p {
  list-style-type: none;
  text-align: left; }

.column ul {
  text-transform: capitalize;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: max-content;
  padding-left: 0; }

.column ul li {
  margin: 0 0 5px 0; }

.column ul li a {
  position: relative;
  transition: all 0.5s; }

.column ul li a::after {
  content: "";
  background-color: #ffffff;
  position: absolute;
  height: 2px;
  width: 0;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s; }

.column ul li:hover > a {
  color: #ffffff;
  padding: 0px 0px 0px 25px; }

.column ul li:hover > a:after {
  width: 10px; }

.column__title {
  position: relative;
  padding-bottom: 10px; }

.column__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
  width: 15px; }

.column__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  border-radius: 20px;
  background-color: #fff;
  width: 45px;
  left: 20px; }

.social__icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 1rem; }
  .social__icons a {
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    font-size: 15px;
    transition: all 0.5s;
    background-color: #ffffff;
    color: #242874;
    margin: 2px;
    margin-left: 1rem; }
    .social__icons a:hover {
      transition: all 0.5s;
      color: #ffffff;
      background-color: #242874;
      opacity: 1; }

@media screen and (max-width: 40.375em) {
  .footer__container {
    background-image: url("../public/images/bg-footer-90deg.png"); }
  .d__flex {
    justify-content: flex-start;
    margin-top: 1rem; }
    .d__flex i {
      margin-right: 0;
      margin-left: 1rem; }
    .d__flex span {
      margin-left: 2rem; } }

/*# sourceMappingURL=style.css.map */