.make__website__container {
  position: relative;
  background-image: url("../public/images/bg_5.jpg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  padding: 5rem 0;
  width: 100%;
  margin-top: 5rem;
}

.side__text {
  h1 {
    font-family: $sourceSansPro, sans-serif;
    color: $darkBlue;
    font-weight: 700;
    // font-size: 54px;
    margin-bottom: 1.1rem;
    text-transform: uppercase;
  }
}
.make__website__cta {
  width: max-content;
  border: 2px solid $blue;
  background: transparent;
  padding: 10px 32px;
  border-radius: 10px;
  color: $blue;
  cursor: pointer;
  transition: all 0.5s;

  &:hover {
    transition: all 0.5s;
    border: 2px solid $blue;
    color: $white;
    background-color: $blue;
  }
  i {
    transform: scale($scale);
  }

  span {
    margin-left: 5px;
  }
  .fa-phone {
    transform: scale(1.16);
    margin-right: 5px;
  }
}

@media screen and (max-width: 40.375em) {
  .side__text {
    // font-size: 2rem;
    margin-bottom: 2rem;
  }
}
