.our__latest__project {
  margin-top: 4rem;
  .page__wrapper {
    z-index: 1000;
    .row {
      margin-top: 3rem;
      z-index: 99;
      > div {
        margin-top: 1rem;
        img {
          height: 100%;
          width: 100%;
          // box-shadow: 0 0 10px 4px rgba(31, 66, 135, 0.1);
        }
      }
      .on__sm__mb__20:hover {
        transform: translateY(0px);
        transition: all 0.5s;
      }
    }
    .site-filters.style-1 {
      background-color: rgba(137, 110, 255, 0.1);
      border-radius: 50px;
      padding: 10px;
    }
    .clearfix::after {
      display: block;
      clear: both;
      content: "";
    }
    .site-filters.center {
      text-align: center;
    }
    .site-filters {
      margin-bottom: 30px;
    }

    .site-filters.style-1 .filters {
      justify-content: space-between;
      display: flex;
      flex-wrap: wrap;
    }
    .site-filters.center ul {
      display: inline-block;
      margin: auto;
    }
    .site-filters ul {
      margin: 0;
      list-style: none;
    }
    ul {
      padding: 0;
      margin: 0;
    }
    .site-filters.center [class*="btn"] {
      display: inline-block;
      margin: 0 25px;
      text-transform: uppercase;
    }
    .site-filters li.btn {
      box-shadow: none;
      -webkit-box-shadow: none;
      outline: none !important;
    }
    .btn {
      padding: 0.6rem 1rem;
      display: inline-block;
      border-radius: 100px;
      font-size: 15px;
      font-weight: 500;
    }
    .btn.active {
      background-color: $blue;
      color: $white;
    }
  }
}

@media screen and (max-width: 40.375em) {
  .our__latest__project {
    .page__wrapper {
      z-index: 1000;
      .cards {
        margin-left: 0px;
        margin-right: 0px;
        .on__sm__mb__20 {
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}
