$poppins: "Poppins";
$sourceSansPro: "Source Sans Pro";
$blue: #1e90ff;
$white: #ffffff;
$black: #000000;
$darkBlue: #242874;
$bg-green: #2ecc71;
$bg-blue: #5543d1;
$bg-red: #ff586e;
$bg-orange: #ffa808;
